body {
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: baseline;
    background: linear-gradient(rgb(255, 100, 100), rgb(100, 100, 255));
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.calculator {
    margin-top: 150px;
    --ht: 400px;
    display: flex;
    flex-direction: column;
    min-width: 300px;
    max-width: 450px;
    height: var(--ht);
    width: 30%;
    border: 5px solid black;
}

.display {
    text-align: right;
    border: 1px solid black;
    height: calc(var(--ht)/4);
    border-radius: 2px;
    background-color: azure;
}

#top-label,
#bottom-label {
    display: flex;
    height: 50%;
    align-items: center;
    justify-content: right;
    margin-right: 5%;
    font-size: 20px;
}

#bottom-label {
    font-size: 36px;
}

.button-row {
    width: 100%;
    font-size: 0px;
    height: calc(var(--ht)/8);
}

button {
    width: 25%;
    height: 100%;
    border-collapse: collapse;
    font-size: 20px;
    background-color: rgb(220, 220, 220);    
}

#clear {
    width: 50%;
    background-color: rgb(255, 100, 100);
}

#equals {
    background-color: rgb(100, 100, 255); 
}